/* work sans font from the google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared style */
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.section-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.btn-primary {
    color: #FFF;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    padding: 10px 20px;
    border: 0;
}

section {
    margin: 4.2rem 0;
}

.text-light-gray {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin: 20px 0;
}

/* header style */
header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 150px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    font-size: 1rem;
    font-weight: 500;
}

nav a {
    text-decoration: none;
    color: #424242;
    margin-right: 30px;
}

/* banner style */
#banner-container {
    margin-top: 50px;
}

.banner {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;

}

.banner-img {
    margin-top: 20px;
    width: 100%;
}

/* main style */
main {
    max-width: 1080px;
    margin: 70px auto;
}

#teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
}

.teams-img-container img {
    width: 280px;
    height: 280px;
}

.teams-information {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-title {
    font-size: 2.8rem;
    font-weight: 500;
}

.quick-list-color {
    color: #727272;
}

.of-our-color {
    color: #131313;
    font-weight: 700;
}

.primary-color {
    color: #FF900E;
    font-weight: 700;
}

/* facts style start */
.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}

.facts-card-container .card-stats {
    color: #424242;
    font-size: 45px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.facts-card-container .card-title {
    color: #727272;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 5px;
}

/* responsive media queries */

/* mobile devices */
@media screen and (max-width: 576px) {
    header {
        padding: 30px;
    }

    nav,
    #teams-container {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-information {
        padding-left: 20px;
        padding-right: 20px;
    }

    .teams-information {
        margin-top: 20px;
    }
}

/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 50px;
    }

    nav,
    #teams-container {
        flex-direction: column;
    }


}