/* work sans font from the google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared style */
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.section-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.btn-primary {
    color: #FFF;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    padding: 10px 20px;
    border: 0;
}

section {
    margin: 4.2rem 0;
}

.text-light-gray {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin: 20px 0;
}

/* header style */
header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 150px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    font-size: 1rem;
    font-weight: 500;
}

nav a {
    text-decoration: none;
    color: #424242;
    margin-right: 30px;
}

/* banner style */
#banner-container {
    margin-top: 50px;
}

.banner {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;

}

.banner-img {
    margin-top: 20px;
    width: 100%;
}

/* main style */
main,
footer {
    max-width: 1080px;
    margin: 70px auto;
}

#teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
}

.teams-img-container img {
    width: 280px;
    height: 280px;
}

.teams-information {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-title {
    font-size: 2.8rem;
    font-weight: 500;
}

.quick-list-color {
    color: #727272;
}

.of-our-color {
    color: #131313;
    font-weight: 700;
}

.primary-color {
    color: #FF900E;
    font-weight: 700;
}

/* features style */
#features {
    display: flex;
    gap: 100px;
    margin-top: 100px;
}

.feature-content .section-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature-img img {
    width: 500px;
    height: 100%;
    margin-top: -50px;

}

.feature-card {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 20px;
    margin-bottom: 20px;
}

.ten-years-badge {
    width: 300px;
    padding: 30px 10px;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    position: relative;
    top: -100px;
    left: -70px;
}

.ten-years-badge h2 {
    font-size: 3.5rem;
    font-weight: 700;
    margin: 0;

}

.ten-years-badge p {
    font-size: 1rem;
    font-weight: 500;
}

/* facts style start */
.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}

.facts-card-container .card-stats {
    color: #424242;
    font-size: 45px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.facts-card-container .card-title {
    color: #727272;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 5px;
}

/* sponsor style */
.sponsor-info {
    text-align: center;
    width: 500px;
    margin: auto;
}

.sponsor-img {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.sponsor-img img {
    width: 160px;
    height: 40px;
}

.footer-container {
    border-radius: 8px;
    background: #FFF4E7;
    padding: 40px;
}

.footer-container p {
    color: #424242;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
}

/* responsive media queries */

/* mobile devices */
@media screen and (max-width: 576px) {
    header {
        padding: 30px;
    }

    nav,
    #teams-container,
    #features,
    .facts-card-container,
    .sponsor-img {
        flex-direction: column;
    }

    .feature-content {
        padding: 30px;
    }

    .feature-img img {
        width: 80%;
        padding: 0 30px;
    }

    .ten-years-badge {
        width: 200px;
        top: -50px;
        left: 10px;
        margin: auto;
    }

    .sponsor-info {
        width: 90%;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-information {
        padding-left: 20px;
        padding-right: 20px;
    }

    .teams-information {
        margin-top: 20px;
    }

    .facts-card-container {
        gap: 20px;
        padding: 30px;
    }

    .facts-left-title {
        width: 80%;
        padding: 30px;
    }

    footer {
        margin: 30px;
    }
}

/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 50px;
    }

    nav,
    #teams-container,
    #features,
    .sponsor-img {
        flex-direction: column;
    }

    .feature-img img {
        width: 90%;
        padding: 0 50px;
        /* padding-right: 50px;
        padding-left: 50px; */

    }

    .feature-content {

        margin: 50px;

    }

    .ten-years-badge {
        width: 300px;
        top: -100px;
        left: 10px;
        margin: auto;
    }

    .facts-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .facts-card-container {
        padding: 0 30px;
    }

    .facts-left-title {
        padding: 30px;
    }

    footer {
        width: 90%;
        margin: 50px;
    }
}